.line {
    border: none;
    background-color: black;
    height: 1px;
}

.table, th, td {
    border: 1px solid black; 
    border-collapse: collapse;
}

.ryuli {
    color: rgb(109, 79, 218);
}

.cloudli {
    color: rgb(148, 196, 250);
}

.background {
    background-color: hwb(51 75% 1%);
}